:host {
  display: block;
  padding: 1.5rem;
}

.workouts-container {
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 0.5rem;

  .add-button {
    background-color: #f97316; // bg-orange-500
    color: white;
  }
}
