<div class="meals-container">
  <div class="header">
    <h2 class="title">Today's Meals</h2>
    <div class="actions">
      <button mat-icon-button
              class="camera-button">
        <mat-icon>photo_camera</mat-icon>
      </button>
      <button mat-icon-button
              class="add-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="meals.length > 0; else noMeals"
       class="meals-list">
    <mat-card *ngFor="let meal of meals"
              class="meal-card">
      <mat-card-content class="meal-card-content">
        <div>
          <div class="meal-name">{{ meal.name }}</div>
          <div class="meal-details">
            {{ meal.createdAt | date : 'shortTime' }} •
            <ng-container [ngSwitch]="meal.source">
              <span *ngSwitchCase="'photo'">🤖 AI detected</span>
              <span *ngSwitchCase="'manual'">✏️ Manual entry</span>
            </ng-container>
          </div>
        </div>
        <div class="meal-calories">
          {{ meal.calories }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #noMeals>
    <div class="no-meals-message">
      <p>No meals logged yet</p>
    </div>
  </ng-template>
</div>