:host {
  display: block;
  padding: 1.5rem;
}

.meals-container {
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 0.5rem;

  .camera-button {
    background-color: #2563eb; // bg-blue-600
    color: white;
  }

  .add-button {
    background-color: #4b5563; // bg-gray-600
    color: white;
  }
}

.icon {
  height: 1rem;
  width: 1rem;
}

.meals-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meal-card {
  background-color: #f6f6f6;
  box-shadow: none;
  border: 1px solid #e5e7eb;

  .meal-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
  }
}

.meal-name {
  font-weight: 500;
}

.meal-details {
  font-size: 0.875rem;
  color: #6b7280; // text-gray-500
}

.meal-calories {
  font-size: 1.125rem;
  font-weight: 600;
  color: #059669; // text-green-600
}

.no-meals-message {
  text-align: center;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
}
