<mat-card class="chart-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>show_chart</mat-icon>
      Net Calories Trend
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="chart-container">
      <ng-container *ngIf="netCalories$ | async as netCaloriesData">
        <canvas baseChart
                type="line"
                [data]="lineChartData"
                [options]="lineChartOptions">
        </canvas>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
